.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper > div {
  display: flex;
}

.wrapper > div > div {
  width: 12px;
  height: 12px;
  position: relative;
  border: 1px #ccc solid;
  margin: -1px;
}

.dead,
.alive {
  position: absolute;
  inset: 0;
}

.dead {
  background: #fff;
}

.alive {
  background: #000;
}
